page-login {
    background-color: rgb(92, 151, 189);

    .login-container {
        width: 80%;
        margin-left: 10%;
    }

    .login-content-item {
        margin-top: 5px;
        background-color: #6ba3c8;
        border: none !important;
        color: #d9ecf9;
        height: 43px;
        font-size: 13px;
    }

    .text-input:-moz-placeholder {
        color: #d9ecf9;
    }

    .text-input::-moz-placeholder {
        color: #d9ecf9;
    }

    .text-input:-ms-input-placeholder {
        color: #d9ecf9;
    }

    .text-input::-webkit-input-placeholder {
        color: #d9ecf9;
    }
}
